# Logs
logs
*.log
npm-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor
.vscode/*
.idea
.DS_Store

# Environment
.env
.env.local

# Videos - Don't push large video files to GitHub
public/reels/*.mp4

# Temporary files
tmp_*
*.tmp
public/reels/
*.mp4
public/reels/*.mp4
video_backups_high_res/
acli.exe
.vercel/
